[Unit]
Description=Clipboard Sync Client
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/clips sync
Restart=on-failure

[Install]
WantedBy=multi-user.target
