# User systemd unit to run a clipsync client at login.
#
# This unit file runs a clipsync client at login, using the user systemd
# instance. It assumes that you also have clipsync-tunnel.service enabled to
# run as a user service (see that file for details.)
#
# To use:
# - Edit this file and change the parameters below.
# - Copy this file to ~/.config/systemd/user
# - systemctl --user daemon-reload
# - systemctl --user enable --now clipsync-client
#
# Note: This service *requires* clipsync-tunnel.service and will start that
# systemd unit (in user mode) when activated. You can comment the Requires line
# below if you start the tunnel in a different way.

[Unit]
Description=Clipboard Sync Client
After=network.target
Requires=clipsync-tunnel.service

[Service]
Type=exec
# Change ExecStart to include your favorite command-line options.
ExecStart=/usr/local/bin/clips client --fix-chrome-quirk --sync-selections
Restart=on-failure

[Install]
WantedBy=default.target
