# Start a clipsync server at boot time.
#
# This systemd unit starts a clipsync server using your preferred user at
# machine boot time. Please note that this runs as the system systemd daemon,
# not the user version.
[Unit]
Description=Clipboard Sync Server
After=network.target

[Service]
Type=exec
# Add any command-line parameters to the server in the line below.
ExecStart=/usr/local/bin/clips server
Restart=on-failure
# Make sure to change the next line to include the user clipsync
# will run under.
User=<put_your_userid_here>

[Install]
WantedBy=multi-user.target
