[Unit]
Description=Clipboard Sync Server
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/clips server
Restart=on-failure
User=PUT_YOUR_USERNAME_HERE

[Install]
WantedBy=multi-user.target
